services:
  user-service:
    image: ${DOCKER_REGISTRY-}userservice
    build:
      context: .
      dockerfile: MessagingApplication/UserService/Dockerfile
    depends_on:
      - user-db
      - rabbitmq
  user-db:
    image: postgres:18.0-alpine3.22
    container_name: "user-users-db"
    volumes:
        - user-db-data:/var/lib/postgresql
    environment:
        POSTGRES_DB: users
  chat-service:
    image: ${DOCKER_REGISTRY-}chatservice
    build:
      context: .
      dockerfile: MessagingApplication/ChatService/Dockerfile
  chat-db:
    image: postgres:18.0-alpine3.22
    container_name: "chat-chats-db"
    volumes:
        - chat-db-data:/var/lib/postgresql
    environment:
        POSTGRES_DB: chats
  message-service:
    image: ${DOCKER_REGISTRY-}messageservice
    build:
      context: .
      dockerfile: MessagingApplication/MessageService/Dockerfile
    depends_on:
      - message-db
      - rabbitmq
  message-db:
    image: mongo:8.0-noble
    container_name: "message-messages-db"
    volumes:
        - message-db-data:/data/db
  rabbitmq:
    image: rabbitmq:4.2-rc-management-alpine
    container_name: "message-broker"
    ports:
        - 5672:5672
        - 15672:15672
    volumes:
        - rabbitmq-lib-data:/var/lib/rabbitmq/
        - rabbitmq-log-data:/var/log/rabbitmq/

volumes:
    user-db-data:
    chat-db-data:
    message-db-data:
    rabbitmq-lib-data:
    rabbitmq-log-data: